.index-headline {
	color: rgba(230, 255, 255,.8);
} 

.subheading{
	color: rgba(230, 255, 255,.8);
}

 hr.header-break{
 	border-color: rgba(230, 255, 255,.8);
}

h1 , span.meta {
	color: rgba(230, 255, 255,.8);

}

